[package]
name = "rustyline"
version = "1.0.0"
authors = ["Katsu Kawakami <kkawa1570@gmail.com>"]
description = "Rustyline, a readline implementation based on Antirez's Linenoise"
documentation = "http://kkawakam.github.io/rustyline/rustyline"
repository = "https://github.com/kkawakam/rustyline"
readme = "README.md"
keywords = ["readline"]
license = "MIT"

[dependencies]
libc = "0.2.7"
unicode-width = "0.1.3"

[target.'cfg(unix)'.dependencies]
nix = "0.5.0"

[target.'cfg(windows)'.dependencies]
winapi = "0.2"
kernel32-sys = "0.2"

[dev-dependencies]
tempdir = "0.3.4"
