[package]
name = "rustyline"
version = "8.1.0"
authors = ["Katsu Kawakami <kkawa1570@gmail.com>"]
edition = "2018"
description = "Rustyline, a readline implementation based on Antirez's Linenoise"
documentation = "http://docs.rs/rustyline"
repository = "https://github.com/kkawakam/rustyline"
readme = "README.md"
keywords = ["readline"]
license = "MIT"
categories = ["command-line-interface"]

[badges]
maintenance = { status = "actively-developed" }

[workspace]
members = ["rustyline-derive"]

[dependencies]
bitflags = "1.2"
cfg-if = "1.0"
# For file completion
# https://rustsec.org/advisories/RUSTSEC-2020-0053.html
dirs-next = { version = "2.0", optional = true }
# For History
fd-lock = "2.0.0"
libc = "0.2"
log = "0.4"
unicode-width = "0.1"
unicode-segmentation = "1.0"
memchr = "2.0"
# For custom bindings
# https://rustsec.org/advisories/RUSTSEC-2021-0003.html
smallvec = "1.6.1"
radix_trie = "0.2"

[target.'cfg(unix)'.dependencies]
nix = "0.20"
utf8parse = "0.2"
skim = { version = "0.9", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["consoleapi", "handleapi", "minwindef", "processenv", "std", "winbase", "wincon", "winuser"] }
scopeguard = "1.1"
clipboard-win = "4.1.0"
error-code = "2.2.0"

[dev-dependencies]
doc-comment = "0.3"
env_logger = { version = "0.8", default-features = false }
tempfile = "3.1.0"
assert_matches = "1.2"
rustyline-derive = { version = "0.4.0", path = "rustyline-derive" }

[features]
default = ["with-dirs"]
with-dirs = ["dirs-next"]
with-fuzzy = ["skim"]

[package.metadata.docs.rs]
features = ["with-dirs", "with-fuzzy"]
all-features = false
no-default-features = true
default-target = "x86_64-unknown-linux-gnu"
