[package]
name = "rustyline"
version = "4.1.0"
authors = ["Katsu Kawakami <kkawa1570@gmail.com>"]
edition = "2018"
description = "Rustyline, a readline implementation based on Antirez's Linenoise"
documentation = "http://docs.rs/rustyline"
repository = "https://github.com/kkawakam/rustyline"
readme = "README.md"
keywords = ["readline"]
license = "MIT"
categories = ["command-line-interface"]

[badges]
travis-ci = { repository = "kkawakam/rustyline" }
appveyor = { repository = "kkawakam/rustyline" }
maintenance = { status = "actively-developed" }

[dependencies]
dirs = { version = "1.0", optional = true }
libc = "0.2"
log = "0.4"
unicode-width = "0.1"
unicode-segmentation = "1.0"
memchr = "2.0"

[target.'cfg(unix)'.dependencies]
nix = "0.13"
utf8parse = "0.1"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["consoleapi", "handleapi", "minwindef", "processenv", "winbase", "wincon", "winuser"] }

[dev-dependencies]
env_logger = "0.6"
tempdir = "0.3"
assert_matches = "1.2"

[features]
default = ["with-dirs"]
with-dirs = ["dirs"]

[package.metadata.docs.rs]
features = ["with-dirs"]
all-features = false
no-default-features = true
default-target = "x86_64-unknown-linux-gnu"
