name: Rust

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        default: true
        profile: minimal
        toolchain: stable
        override: true
    - name: Build
      run: cargo build --workspace --all-targets
    - name: Run tests
      run: cargo test --workspace --all-targets
    - name: Run doctests
      run: cargo test --workspace --doc
